<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <link type="text/css" rel="stylesheet" href="style/app.css">
    <title>Major</title>
</head>
<body>
    <div class="jumbo">
        <div class="right tomster"></div>
        <h2>Sobre a Major roupas</h2>
        <p>
            The Super Rentals website is a delightful project created to explore Ember.
            By building a property rental site, we can simultaneously imagine traveling
            AND building Ember applications.
        </p>
    </div>

    <!--SCRIPTS-->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    
</body>